* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

input,
optgroup,
select,
textarea {
    border: 1px solid royalblue;
    background-color: skyblue;
}

#cartMoreShowBtn {
    display: flex;
    width: 10.417vw;
    height: 6.25vw;
    margin: 2.083vw auto auto auto;
    justify-content: center;
    background-color: skyblue;
}

#cartMoreShowBtnjbh {
    display: flex;
    width: 10.417vw;
    height: 6.25vw;
    margin: 2.083vw auto auto auto;
    justify-content: center;
    background-color: skyblue;
}

#cartMoreShowBtnjjw {
    display: flex;
    width: 10.417vw;
    height: 6.25vw;
    margin: 2.083vw auto auto auto;
    justify-content: center;
    background-color: skyblue;
}

#cartMoreShowBtnajy {
    display: flex;
    width: 10.417vw;
    height: 6.25vw;
    margin: 2.083vw auto auto auto;
    justify-content: center;
}

.cart-modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.cart-modal-body {
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    border: 4px solid skyblue;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 93%;
    padding: 2.083vw;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 0.521vw;
    box-shadow: 0 0.104vw 0.156vw 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}

.cart-title {
    vertical-align: bottom;
    background-color: skyblue;
    text-align: center;
    box-shadow: 0 0.104vw 0.156vw 0 rgba(34, 36, 38, 0.15);
    height: 2.604vw;
}

.cart-btn-group > input {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    font-size: 1vw;
}

.cart-list {
    min-width: 51.667vw;
    margin-right: auto;
    margin-left: auto;
}

.cart-listRow {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15vh;
}

.cart-listCol {
    width: 22%;
    margin-left: 3%;
    margin-top: 3%;
}

.cart-container {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    border: 0.052vw solid rgba(0, 0, 0, .125);
    border-radius: 0.50rem;
}

.cart-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 0.5vh;
}

.cart-text {
    border: 0.052vw solid black;
    padding: 0.521vw;
    border-radius: 0.50rem;
    width: 90%;
    font-size: 1vw;
}

.cart-img {
    border: 0.052vw solid black;
    border-radius: 0.50rem;
}

[class^="cart-name"] {
    border: 0.052vw solid black;
    border-radius: 0.50rem;
    margin-bottom: 1vh;
    width: 90%;
    height: 6vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    padding: 0.2vw;
    font-size: 1vw;
}

.cart-btn-container {
    padding-top: 1.042vw
}

@media (min-width:51.667vw) {
    .cart-list {
        max-width: 50vw;
    }
}

@media (min-width:62.5vw) {
    .cart-list {
        max-width: 59.375vw;
    }
}

@media (min-width:72.917vw) {
    .cart-list {
        max-width: 68.75vw;
    }
}

.cart-div-text {
    background: gray;
    opacity: 0;
}

.cart-div-text p {
    padding-top: 92.5%;
}

.cart-pic {
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 0.052vw solid black;
    border-radius: 0.50rem;
}

.cart-pic:hover .cart-div-text {
    opacity: 0.6;
    text-align: center;
    color: #ffffff;
}

.cart-btn-cart-list {
    position: fixed;
    transform: translateX(1800%) translateY(30%);
    width: 5.208vw;
    height: 2.604vw;
}

.cart-list-p-text {
    font-size: 2vw;
    display: inline;
}

.product-search {
    width: 4.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: 1vw;
    height: 3.5vh;
    text-align: center;
}

.product-search-price-start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.cart-input-search-item {
    /* position: relative; */
    width: 17vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: 1vw;
    height: 3.5vh;
    padding-left: 1vw;
}

.cart-search-text-body {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 16vh;
    left: 57vw;
}

.log-tag {
    font-size: 1.563vw;
    position: absolute;
    left: 2%;
}

/* 07 12 18 최종 수정 */
.wrapper {
    position: absolute;
    margin: -1.8vw 0.781vw -0.521vw 0;
    padding: 1.563vw;
}

.circle {
    border: 0.781vw solid #ffc107;
    background-color: #ffc107;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.042vw;
    height: 0.781vw;
    width: 0.781vw;
    display: flex;
}

input[type="button"] {
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
}    
.sign-in-text{
    position: absolute;
    left: 2.8%;
    font-size: 1.563vw;
}  
.sign-in-check{
position: absolute;
left: 16.5%;
font-size: 1.563vw;
}     
.jjw-first-infor-text{
position: absolute;
bottom: 0vw;
color: white;
padding: 1vw;
font-size: 1.2vw;
width: 100%;
height: 100%;
text-align: center;
}
.NewBtn::after{
content: "기부";
background-color: royalblue;
color:white;
margin: 0 10px;
border-radius: 2px;
width: 2vw;
height: 2vh;
font-size: 1vw;
}