/* 07 24 19 수정 */

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.modal-body {
    box-shadow: 0 0.104vw 0.156vw 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(255, 255, 255);
    border: 4px solid palevioletred;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.521vw;
    align-items: center;
    text-align: center;
    position: absolute;
    padding: 2.083vw;
    display: flex;
    height: 80vh;
    width: 60vw;
    left: 50%;
    top: 50%;
}

.modal-title {
    box-shadow: 0 0.104vw 0.156vw 0 rgba(34, 36, 38, 0.15);
    background-color: pink;
    vertical-align: bottom;
    margin-bottom: 10vh;
    text-align: center;
    font-size: 5vw;
    height: 8vw;
    width: 30vw;
}

.sign-in-btn-group {
    margin-top: 1.042vw;
}

.sign-in-btn-group>input[type="button"] {
    border: 1px solid palevioletred;
    background-color: pink;
    margin: 0.1vw;
}

.sign-in-text {
    font-size: 1.563vw;
    position: absolute;
    left: 2.8%;
}

.sign-in-check {
    font-size: 1.563vw;
    position: absolute;
    left: 16.5%;
}