<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>안주장의 홈페이지</title>
  <!-- socketio -->
  <script src="/socket.io/socket.io.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="/CSS/attendanceCheck_AJJ.css">
  <link rel="stylesheet" href="/CSS/dateAnimation_AJJ.css">
  <link rel="stylesheet" href="/CSS/iconEvent.css">
  <link rel="stylesheet" href="/CSS/logo_AJJ.css">
  <link rel="stylesheet" href="/CSS/nav_AJJ.css">
  <link rel="stylesheet" href="/CSS/productPage_AJJ.css">
  <link rel="stylesheet" href="/CSS/signIn_AJJ.css">
  <link rel="stylesheet" href="/CSS/signUp_AJJ.css">
  <link rel="stylesheet" href="/CSS/slide_AJJ.css">
</head>

<body>
  <header class="main-header">
    <div class="logo" OnClick="location.href ='main_AJJ.html'">
      <span class="accent-text"></span>
      <span class="typing-text"></span>
      <span class="typing-cursor">|</span>
    </div>
    <div class="Ahn-shop-btn">안주영의 shop</div>
    <div class="Ju-shop-btn">주병현의 shop</div>
    <div class="Jang-shop-btn">장지원의 shop</div>
    <div class="search-rank">
      <div class="rank-slide-container">
        <ul class="rank-slide-wrap">
          <li class="rank-img1">
            <span class="rank-slide-text">산다는 건</span>
          </li>
          <li class="rank-img2">
            <span class="rank-slide-text">보헤미안</span>
          </li>
          <li class="rank-img3">
            <span class="rank-slide-text">꽃이여</span>
          </li>
          <li class="rank-img4">
            <span class="rank-slide-text">예술가의 아내라</span>
          </li>
          <li class="rank-img5">
            <span class="rank-slide-text">breathe</span>
          </li>
          <li class="rank-img6">
            <span class="rank-slide-text">part of world</span>
          </li>
          <li class="rank-img7">
            <span class="rank-slide-text">세월이 흘러</span>
          </li>
          <li class="rank-img8">
            <span class="rank-slide-text">살다보면</span>
          </li>
          <li class="rank-img9">
            <span class="rank-slide-text">세정 배우님</span>
          </li>
          <li class="rank-img10">
            <span class="rank-slide-text">멋있어</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="search">
    </div>
  </header>
  <div class="main-event">
    <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="80px" fill="currentColor"
      class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z" />
    </svg>
  </div>
  <div class="all-sections">
    <div class="remocon">
      <div class="chat-bot">
        <div class="chat-bot-title">
          <svg xmlns="http://www.w3.org/2000/svg" width="62.285px" height="62.285px" fill="currentColor"
            class="bi bi-robot" viewBox="0 0 16 16">
            <path
              d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z" />
            <path
              d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z" />
          </svg></i> 주영봇
        </div>
        <div class="chat-delete"><svg xmlns="http://www.w3.org/2000/svg" width="49.997px" height="49.997px"
            fill="currentColor" class="bi bi-x svg" viewBox="0 0 16 16">
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </div>
        <div class="chat-start"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-send-fill" viewBox="0 0 16 16">
            <path
              d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
          </svg> 문의하기
          <div class="two-btn">
            <button class="live-btn">실시간 상담</button><button class="call-btn">전화 상담</button>
          </div>
          <div class="chat-box">
          </div>
        </div>
        <div class="chat-other">
          <input class="chat-input" type="text" placeholder="무엇이든 물어보세요.">
          <div class="chat-other-icon"><svg xmlns="http://www.w3.org/2000/svg" width="49.882px" height="23.002px"
              fill="currentColor" class="bi bi-messenger" viewBox="0 0 16 16">
              <path
                d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="23.002px" height="23.002px" fill="currentColor"
              class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
            </svg></div>
        </div>
      </div>
      <div class="sign-up-modal">
        <div class="sign-up-sub-modal">
          <form class="form" autocomplete="off">
            <fieldset class="fieldset">
              <legend class="legend">회 원 가 입</legend>
              <div class="sign-up-delete"><svg xmlns="http://www.w3.org/2000/svg" width="49.997px" height="49.997px"
                  fill="currentColor" class="bi bi-x svg" viewBox="0 0 16 16">
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
              <label class="label" for="input-name">이 름</label>
              <input type="text" id="input-name" placeholder="한글과 영어로만 입력해주세요.">
              <label class="label" for="input-tel">전화번호</label>
              <input type="tel" id="input-tel" placeholder="숫자만 입력해주세요.">
              <label class="label" for="input-email">이메일</label>
              <input type="email" id="input-email" placeholder="ex) iloveyou@ann-joo-jang.com">
              <label class="label" for="input-password">비밀번호</label>
              <input type="password" id="input-password" placeholder="영어, 숫자, 특수 문자 중에서 6자리 이상 입력해주세요.">
              <label class="label" for="input-password-check">비밀번호 확인</label>
              <input type="password" id="input-password-check" placeholder="동일하게 입력해주세요.">
              <p class="welcome-msg"></p>
              <button class="submit-btn" type="submit">가입 신청하기</button>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="sign-up-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="2.344vw" height="2.344vw" fill="currentColor"
          class="bi bi-tag-fill" viewBox="0 0 16 16">
          <path
            d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
        </svg>
      </div>
      <div class="modal">
        <div class="modal-body">
          <p class="modal-title">로그인하기</p>
          <label for="sign-in-email">이메일</label>
          <input type="email" id="sign-in-email">
          <label for="sign-in-password">패스워드</label>
          <input type="password" id="sign-in-password">
          <div class="sign-in-btn-group">
            <input type="button" value="로그인" class="sign-in-btn">
            <input type="button" value="나가기" class="sign-in-exit-btn">
          </div>
        </div>
      </div>
      <div class="person-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="2.344vw" height="2.344vw" fill="currentColor"
          class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        </svg>
      </div>
      <div class="main-container">
        <div class="main-box">
          <h1 class="title">안주장 7월 출석 이벤트</h1>
          <div class="check-delete"><svg xmlns="http://www.w3.org/2000/svg" width="2.604vw" height="2.604vw"
              fill="currentColor" class="bi bi-x svg" viewBox="0 0 16 16">
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </div>
          <div class="box">
          </div>
        </div>
      </div>
      <div class="cart-icon">
        <div class="cart-total-count-wrapper">
          <div class="cart-total-count-circle">
            <p class="cart-total-count-number">
            </p>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="2.344vw" height="2.344vw" fill="currentColor"
          class="bi bi-cart-check-fill" viewBox="0 0 16 16">
          <path
            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
        </svg>
      </div>
      <div class="check-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="2.344vw" height="2.344vw" fill="currentColor"
          class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
          <path
            d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
        </svg>
      </div>
      <div class="cart-modal-container modal">
        <div class="cart-modal-body">
          <p class="cart-title">장바구니 리스트</p>
          <div class="cart-modal-wrapper">
            <div class="cart-list">
              <div class="cart-list-row">
              </div>
            </div>
          </div>
          <div class="cart-btn-group">
            <input type="button" value="주문하기" class="cart-order-btn">
            <input type="button" value="나가기" class="cart-exit-btn">
          </div>
        </div>
      </div>
      <div class="chat-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="2.344vw" height="2.344vw" fill="currentColor"
          class="bi bi-chat-right-dots-fill" viewBox="0 0 16 16">
          <path
            d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </svg>
      </div>
      <div class="top-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="2.344vw" height="2.344vw" fill="currentColor"
          class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
        </svg>
      </div>
    </div>
    <section class="section1">
    </section>
    <section class="section2">
      <div class="Ahn-product-list">
        <div class="product-list-container">
          <div class="product-list-row">
          </div>
        </div>
      </div>
    </section>
    <section class="section3">
      <div class="Ju-product-list">
        <div class="product-list-container">
          <div class="product-list-row">
          </div>
        </div>
      </div>
    </section>
    <section class="section4">
      <div class="Jang-product-list">
        <div class="product-list-container">
          <div class="product-list-row">
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
<script>
  let userSignInInfor = {
    name: "",
    email: "",
    pw: ""
  }
  let signInText;
  let signInCheck;
  let ajycartUserImg;
  let jjwcartUserImg;
  let jbhcartUserImg;

  let jbhproductData;
  let jjwproductData;
  let ahnproductData;

  let asdproductData;
  let AhnProducts = new Array();
  let JuProducts = new Array();
  let JangProducts = new Array();

</script>
<script src="/JS/search_AJJ.js"></script>
<script src="/JS/nav_AJJ.js"></script>
<script src="/JS/logo_AJJ.js"></script>
<script src="/JS/slide_mainContent_AJJ copy 2.js"></script>
<script src="/JS/slide_mainContent_AJJ copy.js"></script>
<script src="/JS/signIn_AJJ.js"></script>
<script src="/JS/signUp_AJJ.js"></script>
<script src="/JS/rankSlide_AJJ.js"></script>
<script src="/JS/attendanceCheck_AJJ.js"></script>
<script src="/JS/iconEvent_AJJ.js"></script>
<script src="/JS/productsPage_AJJ.js"></script>
<script src="/JS/dateAnimation_AJJ.js"></script>
<script>const _dateAnimation = new dateAnimation();</script>
<script>
  const _mainNav = new mainNav();
  const _logo = new logo();
  const _JangMainSlide = new JangMainSlide("main", "section1");
  const _signUp = new signUp();
  let _searchRankSlide = new JangRankSlide("rank");

  // ㅜ 슬라이드에 메세지 넣기
  _JangMainSlide.slideTextTags[1].appendChild(_dateAnimation.increaseTag);
  _JangMainSlide.slideTextTags[2].innerHTML = "'안'녕하세요!<br>저희는 '주'말에도 비가 오나 눈이 오나 지치지 않고<br>열심히 '장'인 정신으로 공부하는 안주장 팀입니다.";
  _JangMainSlide.slideTextTags[3].innerHTML = "저희 홈페이지에서는<br>여러분들에게 맛나고 즐거운 안주처럼, 따뜻한 에너지를 선사해줄 수 있는 요소들을 찾아<br>소개해드리고 있습니다. 부디 여러분 모두가 이 인생에서 편안히 안주할 수 있기를<br>바라는 마음으로 정성 들여서 만들었습니다.<br>항상 행복하세요!<br>";
  _JangMainSlide.slideTextTags[0].innerHTML = _JangMainSlide.slideTextTags[3].innerHTML;
  _JangMainSlide.slideTextTags[_JangMainSlide.slideTextTags.length-1].appendChild(_dateAnimation.increaseCopyTag);

</script>

<script>
  const _productsPage = new productsPage();
  _productsPage.getProductsData().then((result) => {
    asdproductData = result;
    ahnproductData = asdproductData.filter((el) => el.designerName === "AJY");
    ajycartUserImg = ahnproductData.map(a => a.img);

    jbhproductData = asdproductData.filter((el) => el.designerName === "JBH");
    jbhcartUserImg = jbhproductData.map(a => a.img);

    jjwproductData = asdproductData.filter((el) => el.designerName === "JJW");
    jjwcartUserImg = jjwproductData.map(a => a.img);

    const _AhnlistSlide = new JangListSlide("Ahn", 2, "Ahn-product-list", ajycartUserImg);
    const _JoolistSlide = new JangListSlide("Joo", 3, "Ju-product-list", jbhcartUserImg);
    const _JanglistSlide = new JangListSlide("Jang", 4, "Jang-product-list", jjwcartUserImg);
  });
</script>

</html>